<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <title>Editar livros</title>
</head>
<body>
<h1 style="text-align: center;">Editar um novo {{ editalivrobanco.nome }}</h1>
<form action="/edit/{{ editalivrobanco.id }}" class="container" method="post">
    <div class="row">
        <div class="col-md-1">
            <input type="number" name="id" id="id" class="form-control"
            value="{{ editalivrobanco.id }}">
        </div>
        <div class="col-md-4">
            <input type="text" name="<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <title>Editar livros</title>
</head>
<body>
<h1 style="text-align: center;">Editar um novo {{ editalivrobanco.nome }}</h1>
<form action="/edit/{{ editalivrobanco.id }}" class="container" method="post">
    <div class="row">
        <div class="col-md-1">
            <input type="number" name="id" id="id" class="form-control"
            value="{{ editalivrobanco.id }}">
        </div>
        <div class="col-md-4">
            <input type="text" name="titulo" id="titulo" placeholder="titulo do livro" class="form-control"
            value="{{ editalivrobanco.titulo }}">
        </div>
        <div class="col-md-4">
            <input type="text" name="autor" id="autor" placeholder="nome do autor" class="form-control"
            value="{{ editalivrobanco.autor }}">
        </div>
        <div class="col-md-2">
            <input type="text" name="lido" id="lido" placeholder="Sim / Não" class="form-control"
            value="{{ editalivrobanco.lido }}">
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btn-success">Enviar</button>
    </div>
<!---->
</form>
</body>
</html>" id="livro" placeholder="titulo do livro" class="form-control"
            value="{{ editalivrobanco.livro }}">
        </div>
        <div class="col-md-4">
            <input type="text" name="autor" id="autor" placeholder="nome do autor" class="form-control"
            value="{{ editalivrobanco.autor }}">
        </div>
        <div class="col-md-2">
            <input type="text" name="lido" id="lido" placeholder="Sim / Não" class="form-control"
            value="{{ editalivrobanco.lido }}">
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btn-success">Enviar</button>
    </div>
<!---->
</form>
</body>
</html>