<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!--<meta http-equiv="Content-Security-Policy" content="default-src">-->

    <title>livros</title>
    <!--
    <link rel="stylesheet" href="style.css">
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
<h1 style="text-align: center;">Cadastro de Livros</h1>

<div class="container">

    <div class="col-xs-12">
        <a href="/add">Adicionar livros</a>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>título do livro</th>
                    <th>nome do autor</th>
                    <th>livro foi lido</th>
                </tr>
                </thead>
                <tbody>
                {% for l in livro %}
                <tr>
                    <td>{{ l.id }}</td>
                    <td>{{ l.titulo }}</td>
                    <td>{{ l.autor }}</td>
                    <td>{{ l.lido }}</td>
                    <td>
                        <a href="/edit/{{l.id}}">Editar </a> |
                        <a href="/delete/{{l.id}}">Excluir</a>
                    </td>
                </tr>
                <!---->
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>